h1 {
    color: orange;
}

div {
    width: 200px;
    height: 200px;
    background-image: url('../assets/big.jpg');
    border-radius: 50%;
    margin: 50px auto;
}

body {
    background-image: url('../assets/girl.jpg');
    background-size: cover;
}