h1 {
    color: orange;
}

div {
    width: 200px;
    height: 200px;
    background-image: url(../assets/girl.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 50px auto;
}

body {
    background-color: #333;
    /* TOFIX: 打包报错 */
    background-image: url(../assets/girl.jpg);
    background-size: cover;
}